apiVersion: apps/v1
kind: Deployment
metadata:
  name: personas-django-deployment
  namespace: calvarado2004
spec:
  replicas: 1
  selector:
    matchLabels:
      app: personas-django-container
  template:
    metadata:
      labels:
        app: personas-django-container
    spec:
      containers:
        - name: django
          image: {{ CONTAINER_IMAGE }}:{{ TAG_USED }}
          ports:
            - containerPort: 8000
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: personas-django-credentials
                  key: user

            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: personas-django-credentials
                  key: password

            - name: POSTGRES_HOST
              value: personas-django-db-service

      initContainers:
        - name: django-init
          image: {{ CONTAINER_IMAGE }}:{{ TAG_USED }}
          command: ['python', 'manage.py', 'migrate']
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: personas-django-credentials
                  key: user

            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: personas-django-credentials
                  key: password

            - name: POSTGRES_HOST
              value: personas-django-db-service
---
kind: Service
apiVersion: v1
metadata:
  name: personas-django-service
  namespace: calvarado2004
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec:
  selector:
    app: personas-django-container
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000

